body {
  display:flex;
  justify-content: center;
  align-items: center;
 
}

.container {
width: 600px;
color: black;
}

.fa-circle-check {
  color: green;
}
p{
  color:silver;
  font-size: 10px;
}
.card {
      background-color:white;
      padding: 20px;
      border-radius: 8px;
      margin: 20px;

}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}